@font-face {
    font-family: 'Orator Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Orator Std Medium'), url('./font/OratorStd.woff') format('woff');
    }

    :root {
        --enseigne_color: rgb(194, 165, 165);
    
        --navbar_color:rgb(38, 38, 38);
        --navbar_background_color:rgb(194, 165, 165);
    
        --title_color:rgb(214, 214, 214);
        --paragraphe_color:rgb(141, 141, 141);
    
        --background_color_1:rgb(54,54,54);
        --background_color_0:rgb(38,38,38);
       
        --button_color:rgb(38, 38, 38);
        --button_background_color:rgb(117, 102, 102);
        --button_text_hover_color:rgb(38, 38, 38);
    
        --subtitle_color: rgb(185, 185, 185);
        --subbitle_little_color:rgb(92, 92, 92);
        --enseigne_color_transparent: rgb(117, 102, 102);
    
        --footer_background_color:rgb(27, 27, 27);
        --footer_text_color:rgb(95, 80, 80);
      }

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background_color_0);
}

/* *************************************************************************************************************
                                                    NAVBAR
************************************************************************************************************* */

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--enseigne_color);
    height: 50px;
    align-items: center;
    width: 100%;
    position: fixed;
}

.content-change {
    position: relative;
    top: 50px;
    z-index: 1;
}

#navbar .nav-links {
    display: flex;
    text-decoration: none;
    color: var(--button_color);
    font-family: 'Orator Std Medium', Arial, Helvetica, sans-serif;
    height: 50px;
    align-items: center;
    padding: 0 30px;
}

#navbar .nav-links:hover {
    background-color: rgba(255, 255, 255, 0.205);
    transition-duration: 1s;
    animation: nav;
    font-size: 1.03rem;
}

@media screen and (max-width: 480px) {
    #navbar .nav-links {
        font-size: 1rem;
    }

    #navbar {
        height: 110px;
    }

    #navbar .nav-links {
        display: flex;
        text-decoration: none;
        color: var(--button_color);
        font-family: 'Orator Std Medium', Arial, Helvetica, sans-serif;
        height: 20px;
        align-items: center;
        padding: 0 30px;
    }
    

    #navbar .nav-links:hover {
        background-color: rgba(255, 255, 255, 0.205);
        transition-duration: 1s;
        animation: nav;
        font-size: 1rem;
    }
}

/* *************************************************************************************************************
                                                    SECTION
************************************************************************************************************* */

section{
    padding-top: 80px;
}

h2{
    font-family: "orator Std Medium",Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    color: var(--title_color);
}

h3{
    font-family: "Orator Std Medium",Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(228, 228, 228);
    font-weight: lighter;
    padding:20px 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--paragraphe_color);
    font-weight: lighter;
    text-align: justify;
}

img{
    width: 300px;
}

article{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    width: 60%;
}

article div{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
}

.return {
    color: var(--button_color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    width: 90%;
    display: flex;
    margin: auto;
    width: fit-content;
    padding: 10px;
    background-color: var(--enseigne_color);
    border-radius: 10px;
    margin-top: 50px;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 50px;

}

.return:hover {
    background-color: var(--button_background_color);
    transition-duration: 0.5s;
}

@media screen and (max-width: 480px) {
    article {
        width: 90%;flex-direction: column;
        margin :  20px auto;
    }

    article img{
        width: 80%;
        margin: auto;
    }

    article div{
        width: 70%;
        margin:10px;
    }

    article div h3{
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    article div p{
        font-size: 1.1rem;
    }

    h2{
        font-size: 2rem;
        margin-top: 50px;
    }

    .return{
        font-size: 1rem;
        font-weight: normal;
        margin-top: 10px;
    }

    section{
        padding-top: 70px;
    }

    p{
        font-size: 1.1rem;
        font-weight: normal;
    }
    

}

/* *************************************************************************************************************
                                                    FOOTER
************************************************************************************************************* */

#footer{
    background-color: var(--footer_background_color);
}

#footer img{
    width:50px;
    margin: 10px;
}

#footer #enseigne_footer{
    width: 200px;
    margin: 20px auto;
}

#footer div {
    display: flex;   
    width: 50%; 
    margin: auto;  
}

#footer div div{
    flex-direction: column;
    width: 50%;
}

#footer div div div{
    flex-direction: row;
    justify-content: center;
}

#footer div div .menu_footer {
    text-decoration: none;
    color: var(--paragraphe_color);
    font-family: "Orator Std Medium";
    margin :10px;
    margin-left: 100px;
}

#footer h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--footer_text_color);
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
    #footer div {
        display: flex;   
        width: 100%; 
        margin: auto;
        flex-direction: column;  
    }

    #footer div div{ 
        width: 100%; 
    }

    #footer div div .menu_footer {
        margin-left: 0px;
        text-align: center;
    }
    
}